.navbar {
  background-color: #2c4c3b;
  color: #f5f5f5; 
  overflow: hidden; 
  display: flex; 
  justify-content: space-between; 
}

#logo {
  padding: 15px 20px; 
  font-size: 20px; 
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a {
  float: left; 
  color: #f5f5f5; 
  text-align: left; 
  padding: 15px 20px; 
  font-size: 20px; 
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a:hover {
  background-color: #f5f5f5;
  color: #233c2f;  
  text-decoration: underline;
}

body {
  background-color: #2c4c3b;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 100vh;
  display: flex; 
  flex-direction: column; 
}

.container {
  background-color: #2c4c3b;
  display: flex; 
  justify-content: center;
}

.abouttext {
  display: inline-block; 
  color: #f5f5f5; 
  text-align: center;
  align-self: center;
  padding-left: 30px;
}

.HG {
  flex-grow: 1;
  max-width: 30%; 
  max-height: 15%; 
  display: inline;
  align-self: auto; 
}

footer {
  padding: 20px; 
  display: flex; 
  justify-content: center;
}

#linkedinlogo {
  width: 40px;
  height: 40px;
  margin-right: 10px; 
}

/*There has got to be a better way to add spacing to the footer.*/

#githublogo {
  width: 70px;
  height: 40px;
  margin-left: 10px; 
}

h2 {
  color: #f5f5f5; 
  text-align: center;
}

hr {
  width: 90%;
  text-align: center;
  color: #f5f5f5;
  border-style: dotted;
  margin-bottom: 20px; 
}

h3 {
  color: #f5f5f5;
  text-align: center;
  font-size: 20px; 
}

p {
 color: #f5f5f5;
 text-align: center;
}

.activities {
  background-color: #455b55;
  margin:10px; 
  padding-bottom: 5px;
  text-align: center; 
  border: 2px dotted #2c4c3b
}

